<!doctype html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="es">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]>
<html lang="es" class="no-js">
<![endif]-->
<html lang="es">

<head>
    <title>Stock-G</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" media="screen">
    <!--Needed Style-->
    <link rel="stylesheet" href="stock-g/css/stock-g.css" type="text/css" media="screen">
</head>

<body>
<h1>Stock-G OHLC</h1>
<div class="row">
    <div class="col-md-12">
        <!--Dont forget to set the height and class-->
        <div id="gcontainer" class="stock-g" style="height: 500px;"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <a href="javascript:;" class="btn btn-primary" onclick="toggleMACD()">MACD</a>
        <a href="javascript:;" class="btn btn-primary" onclick="toggleRSI()">RSI</a>
        <a href="javascript:;" class="btn btn-primary" onclick="toggleType()">TYPE</a>
        <a href="javascript:;" class="btn btn-primary" onclick="toggleData()">DATA</a>
    </div>
</div>

<script type="text/javascript" src="jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--This 3 scripts are required-->
<script src="d3/d3.min.js"></script>
<script src="techan/0.5.0/techan.min.js"></script>
<script src="stock-g/js/stock-g.js"></script>
<script>
    var cs;
    var macd = false;
    var rsi = false;
    var main = "ohlc";
    var symbol = "GOOG";
    var timer;

    // Actually not realtime but realtime emulated

    $(document).ready(function () {

        d3.csv('stock-g/examples/data/GOOG.csv', function (data) {
            var rtData = data.splice(data.length - 40, data.length);
            cs = new StockG('#gcontainer', symbol, rtData, { macd: macd, rsi: rsi, main: main });
            timer = setInterval(function(){
                rtData.unshift(data.pop());
                cs.changeData(rtData);
                if(data.length <= 0){
                    clearInterval(timer);
                }
            }, 100);
        });

    });

    function toggleType(){
        main = main == "ohlc" ? "line" : "ohlc";
        cs.setMainDraw(main);
    }

    function toggleData(){
        symbol = symbol == "GOOG" ? "AAPL" : "GOOG";
        d3.csv('stock-g/examples/data/' + symbol + '.csv', function (data) {
            cs.changeData(data).setSymbol(symbol);
        });
    }

    function toggleMACD(){
        macd = !macd;
        cs.setMACD(macd)
    }

    function toggleRSI(){
        rsi = !rsi;
        cs.setRSI(rsi)
    }
</script>
</body>

</html>
