.dropzone {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2) url("dropzone-back.png") no-repeat center;
  min-height: 140px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 6px;
}
.dropzone.dropzone-blue {
  border-color: #006dcc;
}
.dropzone.dropzone-blue .dz-preview {
  border: 1px dashed #122b40;
}
.dropzone.dz-started {
  background-image: none;
}
.dropzone.dz-drag-hover {
  border-style: solid;
}
.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone.dz-clickable * {
  cursor: default;
}
.dropzone.dz-drag-hover .dz-message {
  opacity: 0.5;
}
.dropzone .dz-default.dz-message {
  display: none;
  text-align: center;
  margin: 2em 0;
}
.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  border: 1px dashed #ffffff;
  border-radius: 6px;
  padding: 10px;
}
.dropzone .dz-preview:hover {
  z-index: 1000;
  border-style: solid;
}
.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  background: linear-gradient(to bottom, #eeeeee, #dddddd);
}
.dropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}
.dropzone .dz-preview.dz-image-preview {
  background: white;
}
.dropzone .dz-preview.dz-image-preview .dz-details {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.dropzone .dz-preview .dz-success-mark svg,
.dropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 20px;
  height: 20px;
}
.dropzone .dz-preview.dz-image-preview {
  background: none;
}
.dropzone .dz-preview.dz-error > .dz-success-mark {
  display: none;
}
.dropzone .dz-preview.dz-success > .dz-error-mark {
  display: none;
}
.dropzone .dz-success-mark,
.dropzone .dz-error-mark {
  position: absolute;
  top: -10px;
  right: -10px;
}
.dropzone .dz-preview.dz-image-preview {
  padding-left: 70px;
}
.dropzone .dz-preview.dz-image-preview .dz-image {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
}
.dropzone .dropzone .dz-preview.dz-file-preview .dz-image {
  display: none;
}
.dropzone .dz-preview.dz-image-preview .dz-image img {
  max-width: 60px;
}
